:root {
  --primary-color: #1c6f52;
  --secondary-color: #68d6b0;
  --tertiary-color: #379dcc;
  --black: rgb(17, 17, 17);
  --white: rgb(253, 253, 253);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Inter", Helvetica, sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

p {
  font-size: 1.4rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color);
  height: 80px;
  padding: 0px 25px;
  font-size: 1.6rem;
}

header img.header-logo {
  width: 70px;
  height: auto;
}

header nav.menu-container {
  display: flex;
  align-items: center;
}

header nav i.menu-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../assets/bars-solid.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 150ms ease;
}

header nav i.menu-icon.cross {
  background-image: url("../assets/xmark-solid.svg");
}

header nav ul.menu-expand {
  opacity: 0;
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  list-style: none;
  background: var(--primary-color);
  padding: 10px 0px;
  transition: all 500ms ease;
}

header nav ul.menu-expand.active {
  opacity: 1;
}

header nav ul.menu-expand li {
  padding: 10px 25px;
  text-align: right;
}

header nav ul.menu-expand li a {
  text-decoration: none;
  color: var(--white);
}

main {
  display: flex;
  justify-content: space-between;
  background: #fff;
  height: 380px;
  padding: 25px 25px;
  font-size: 1.6rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  height: 80px;
  color: var(--secondary-color);
  padding: 0px 25px;
  font-size: 1.6rem;
}
