/* tablet.css" media="(min-width: 728px) */

header nav i.menu-icon {
  display: none;
}

header nav i.menu-expand {
  display: none;
}

header nav ul.menu-list {
  list-style: none;
  display: flex;
  gap: 25px;
}

header nav ul.menu-list li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--black);
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main section div.card-container {
  width: 47.5%;
}
